<div class="top_bar">
    <div class="container">
        <img src="{{ base_path ~ directory }}/img/icons/social-search.svg" class="social">
        <img src="{{ base_path ~ directory }}/img/icons/social-mail.svg" class="social">
        <img src="{{ base_path ~ directory }}/img/icons/social-face.svg" class="social">
        <img src="{{ base_path ~ directory }}/img/icons/social-twitter.svg" class="social">
    </div>

</div>

<div id="page" >

    {% if page.headline %}
        <section id="headline">
            <div class="container-fluid">
                <nav class="navbar">
                    {{ page.headline }}
                </nav>
            </div>
        </section>
    {% endif %}

    <header id="header" >
        <div class="container-fluid">
            {{ page.header }}
        </div>
    </header>

    <section id="main">
        <div class="container">
            <div class="row">
                <div id="content" class="col-md-9 col-sm-9 col-xs-12">
                    {{ page.content }}
                </div>
                {% if page.sidebar %}
                    <aside id="sidebar" class="sidebar col-md-3 col-sm-3 col-xs-12">
                        {{ page.sidebar}}
                    </aside>
                {% endif %}
            </div>
        </div>
    </section>



    <div class="container-fluid footer">
        <div class="container footer-content">
            <h1></h1>
        <span class="text-center">
            <h3><small>Centro de Ciencias Matemáticas UNAM Campus Morelia</small></h3>
        </span>
            <div class="text-center">
                <img alt="footer" src="{{ base_path ~ directory }}/img/logos-footer-unam.png" class="logo-footer">
                <img alt="footer" src="{{ base_path ~ directory }}/img/logos-footer-unam2.png" class="logo-footer">
                <img alt="footer" src="{{ base_path ~ directory }}/img/logos-footer-ccm.png" class="logo-footer">
            </div>
        </div>
    </div>

    {% if page.footer %}
        <footer id="footer">
            <div class="container">
                {{ page.footer }}
            </div>
        </footer>
    {% endif %}

</div>