<div class="top_bar">
    <div class="container">
        <img src="{{ base_path ~ directory }}/img/icons/social-search.svg" class="social">
        <img src="{{ base_path ~ directory }}/img/icons/social-mail.svg" class="social">
        <img src="{{ base_path ~ directory }}/img/icons/social-face.svg" class="social">
        <img src="{{ base_path ~ directory }}/img/icons/social-twitter.svg" class="social">
    </div>

</div>

<div id="page" >

    {% if page.headline %}
        <section id="headline">
            <div class="container-fluid">
                <nav class="navbar">
                    {{ page.headline }}
                </nav>
            </div>
        </section>
    {% endif %}

    <header id="header" >
        <div class="container-fluid">
            {{ page.header }}
        </div>
    </header>

    <section id="main">
        <div class="container">
            <div class="row">
                <div id="content" class="col-md-9 col-sm-9 col-xs-12">

                    {{ page.content }}

                </div>
                {% if page.sidebar %}
                    <aside id="sidebar" class="sidebar col-md-3 col-sm-3 col-xs-12">
                        {{ page.sidebar}}
                    </aside>
                {% endif %}
            </div>
        </div>
    </section>


    {% if page.footer %}
        <footer id="footer">
            <div class="container-fluid">
                {{ page.footer }}
            </div>
        </footer>
    {% endif %}

</div>